# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
captures/

# Kotlin
.kotlin/

# Misc
local.properties

# Compose secrets
step2-durable/compose/secrets/*
!step2-durable/compose/secrets/*.example
